html {
	font-size: 11px;
}
body {
	box-sizing: border-box;
	overflow: hidden;
	font-size: 1.8rem;
	font-family: Arial;
	font-weight: 700;
	min-width: 480px;
}

.wrapper-fix {
	width: 100%;
	min-width: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
}
.wrap {
	min-width: 480px;
	width: 480px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}
.f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.fj {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.fja {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.fa {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.wr {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
img {
	width: 100%;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.bold {
	font-weight: 700;
}
.center {
	text-align: center;
}
.white {
	color: #fff;
}
.upp {
	text-transform: uppercase;
}
.bl {
	display: block;
}
.title {
	font-size: 2.4rem;
}
.pl {
	padding-left: 2.5rem;
}
.pr {
	padding-right: 2rem;
}
.red {
	color: #ED1919;
}
.bg_blue {
	background-color: #3D61AA;
}
.blue {
	color: #3D61AA;
}
.fifty {
	width: 50%;
}

.fixed {
	min-height: 6.5rem;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
 }
 .fixed .wrap {
 	box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 9px 0px;
 }
 .fixed .wrap .fixed_block {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
 }
 .fixed .wrap .fixed_block button {
	background-color: #1D386E;
	border: none;
	padding: 1.6rem 2.4rem;
	font-size: 1.8rem;
	outline: none;
 }

.delete {
	margin-top: 6.5rem;
 }
 .delete .wrap h1 {
	padding-top: 1.4rem;
	padding-bottom: 1.9rem;
 }
 .delete .wrap .car {
 	min-height: 32.4rem;
 	background: #fff url(../img/delete_car_bg.jpg) center center no-repeat;
 	-webkit-background-size: cover;
 	background-size: cover;
 }
 .delete .wrap .car .car_bottle {
 	width: 39rem;
 	bottom: 0;
 	left: 50%;
 	-webkit-transform: translate(-50%, 0);
 	-ms-transform: translate(-50%, 0);
 	-o-transform: translate(-50%, 0);
 	transform: translate(-50%, 0);
 	z-index: 2;
 }
 .delete .wrap .car .text_block {
 	background: -moz-linear-gradient(270deg, #9D0000 2.84%, rgba(237, 25, 25, 0) 50%), #ED1919;
 	background: -webkit-linear-gradient(270deg, #9D0000 2.84%, rgba(237, 25, 25, 0) 50%), #ED1919;
 	background: -webkit-linear-gradient(270deg, #9D0000 2.84%, rgba(237, 25, 25, 0) 50%), #ED1919;
 	background: -o-linear-gradient(270deg, #9D0000 2.84%, rgba(237, 25, 25, 0) 50%), #ED1919;
 	background: -ms-linear-gradient(270deg, #9D0000 2.84%, rgba(237, 25, 25, 0) 50%), #ED1919;
 	background: linear-gradient(270deg, #9D0000 2.84%, rgba(237, 25, 25, 0) 50%), #ED1919;
 	padding: 0.9rem 4.33rem;
 	left: 50%;
 	-webkit-transform: translate(-50%, 0);
 	-ms-transform: translate(-50%, 0);
 	-o-transform: translate(-50%, 0);
 	transform: translate(-50%, 0);
 	width: 28.2rem;
 	z-index: 1;
 	top: 4rem;
 }
 .delete .wrap ul {
 	padding-top: 1.65rem;
 	padding-bottom: 1.65rem;
 }
 .delete .wrap ul li:first-child {
 	margin-bottom: 2rem;
 }
 .delete .wrap ul li .image {
 	width: 1.7rem;
 	margin-top: 0.3rem;
 	margin-right: 0.8rem;
 }
 .delete .wrap ul li .image img {
 	min-width: 1.7rem;
 }
 .footer_delete {
 	margin-top: 0;
 }

.grey_line .wrap {
	min-height: 4.4rem;

	border-left: 0;
	border-right: 0;
 }


.form .wrap {
 	padding-top: 1.9rem;
	padding-bottom: 2.6rem;
 }
 .form .wrap h2 {
 	margin-bottom: 1.4rem;
 }
 .form .wrap form {
 	padding-left: 0.8rem;
 	padding-right: 0.9rem;
 }
 .form .wrap form .price_block {
 	margin-bottom: 1.47rem;
 }
 .form .wrap form .price_block .block {
 	padding-left: 1.6rem;
 	padding-top: 1.9rem;
 	padding-bottom: 1.6rem;
 	border: 1px solid #D5D5D5;
 }
 .form .wrap form .price_block .block .top_text {
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
 }
 .form .wrap form .price_block .block .price .big {
 	font-size: 3.2rem;
 }
 .form .wrap form .price_block .block .price .small {
 	font-size: 2.6rem;
 }
 .form .wrap form .price_block .unright {
 	color: #9D9D9D;
 	border-left: none;
 }
 .form .wrap form .input_block input[type="text"],  .form .wrap form .input_block textarea{
 	width: 100%;
 	margin-bottom: 0.6rem;
 	background: #E9E9E9;
 	border: 1px solid #D5D5D5;
 	padding: 2.1rem 1.7rem;
 }
 .form .wrap form .input_block input[type="text"].half {
 	width: 49.3%;
 }
 .form .wrap form input[type="submit"] {
 	display: block;
 	margin-right: auto;
 	margin-left: auto;
 	border: none;
 	padding: 1.8rem 0;
 	width: 60%;
 	border-bottom: 6px solid #223B6F;
 }

.video .wrap {
	padding-top: 2.66rem;
	padding-bottom: 2.35rem;
 }
 .video .wrap h2 {
 	margin-bottom: 1.55rem;
 }
 .video .wrap .video_wrap {
 	min-height: 24rem;
 	margin-bottom: 1.22rem;
 }
 .video .wrap .video_wrap iframe {
 	width: 100%;
 	height: 100%;
 }
 .video .wrap .statistic {
 	font-size: 1.4rem;
 }
 .video .wrap .statistic .like .icon {
 	width: 1.7rem;
 	margin-right: 0.5rem;
 	padding-top: 0.2rem;
 }
 .video .wrap .statistic .like .icon img {
 	min-width: 1.7rem;
 }
 .video .wrap .statistic .view {
 	color: #909090;
 }

.tired .wrap {
	padding: 2.35rem 0;
 }
 .tired .wrap h2 {
 	margin-bottom: 2.63rem;
 }
 .tired .wrap .photo_block .photo img {
 	border-radius: 6px;
 }

.info .wrap h2 {
	padding: 1.75rem 0;
	margin-bottom: 2.13rem;
 }
 .info .wrap {
 	padding-bottom: 2.95rem;
 }
 .info .wrap .image {
 	width: 8.3rem;
 	margin-right: auto;
 	margin-left: auto;
 	margin-bottom: 1.73rem;
 }

.compare .wrap {
	padding-bottom: 2.88rem;
 }
 .compare .wrap .block:first-child {
	margin-bottom: 2rem;
 }
 .compare .wrap .block .text {
	font-size: 2.1rem;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
 }
 .compare .wrap .block .before {
	background-color: #3D3D3D;
 }

.use .wrap {
	padding-top: 3rem;
	padding-bottom: 2.7rem;
 }
 .use .wrap h2 {
	padding-bottom: 1.6rem;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 2.4rem;
 }
 .use .wrap ul li {
	margin-bottom: 1.57rem;
 }
 .use .wrap ul li:last-child {
	margin-bottom: 0;
 }
 .use .wrap ul li .image {
	width: 10rem;
	margin-right: 1.4rem;
 }
 .use .wrap ul li .image img {
	min-width: 10rem;
 }
 .use .wrap ul li .text .step {
	margin-bottom: 0.6rem;
 }

.why .wrap {
	padding-bottom: 2.4rem;
 }
 .why .wrap h2 {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	margin-bottom: 3.3rem;
 }
 .why .wrap ul li .image {
 	width: 1.72rem;
 	margin-right: 0.76rem;
 }
 .why .wrap ul li .image img {
 	min-width: 1.72rem;
 }
 .why .wrap ul li {
 	margin-bottom: 2.4rem;
 }
 .why .wrap ul li:last-child {
 	margin-bottom: 0;
 }

.opinion .wrap h2 {
	padding-top: 2.81rem;
	padding-bottom: 1.9rem;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 2.87rem;
 }
 .opinion .wrap .person {
 	margin-bottom: 1.67rem;
 }
 .opinion .wrap .person .image {
 	margin-right: 1.2rem;
 	width: 7rem;
 }
 .opinion .wrap .person .image img {
 	min-width: 7rem;
 }
 .opinion .wrap .person .text .country {
 	font-size: 1.4rem;
 	color: #7E7E7E;
 }
 .opinion .wrap p {
 	margin-bottom: 2.78rem;
 }
 .opinion .wrap .opinion_image img {
	-webkit-transform: translate(0, 5px);
	-ms-transform: translate(0, 5px);
	-o-transform: translate(0, 5px);
	transform: translate(0, 5px);
 }

.footer .wrap {
	padding-bottom: 1.35rem;
 }
 .footer .wrap .text {
 	font-size: 10px;
 	color: #797979;
 }



@media screen and (max-width: 455px) {
 	html {
 		font-size: 10.5px;
 	}
}
@media screen and (max-width: 435px) {
 	html {
 		font-size: 10px;
 	}
}
@media screen and (max-width: 415px) {
 	html {
 		font-size: 9.5px;
 	}
}
@media screen and (max-width: 395px) {
 	html {
 		font-size: 9px;
 	}
}
@media screen and (max-width: 375px) {
 	html {
 		font-size: 8.5px;
 	}
}
@media screen and (max-width: 355px) {
 	html {
 		font-size: 8px;
 	}
}
@media screen and (max-width: 335px) {
 	html {
 		font-size: 7.5px;
 	}
}

.header-new {
	background: url("../img/Group483.png")  no-repeat;
	background-size: 480px 496px;
	height: 496px;
	width: 100%;
}

.h1-new {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 445px;
	margin: 0 auto;
}

.span-new {
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	text-transform: uppercase;
	color: #FFE600;
}

.corrupt-new {
	background: linear-gradient(270deg, #810000 18.32%, #FF0000 79.26%);
	width: 352px;
	-webkit-clip-path: polygon(0% 100%, 7%  0%, 100%  0%, 100% 100% );
	clip-path: polygon(0% 100%, 7%  0%, 100%  0%, 100% 100% );
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;
	text-align: center;
	padding: 10px 20px 10px 0;
	color: #FFFFFF;
	margin-left: 35px;
}

.img-wrapper-new {
	position: relative;
}

.img-wrapper-new img {
	position: absolute;
	width: 164px;
	height: 311px;
	left: 310px;
	top: -100px;
}

.discount-new {
	position:  absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 132px;
	height: 132px;
	background: url("../img/Group482.png") no-repeat;
	left: 275px;
	top: 130px;
}

.discount-new p:first-child {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.discount-new p:last-child {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
}

.price-new {
	display: flex;
}

.old {
	background: #fff url("../img/Subtract.png") no-repeat;
	width: 236px;
	height: 65px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	text-decoration: line-through;
	display: flex;
	align-items: center;
	justify-content: center;
}

.new {
	background: url("../img/Subtract1.png") no-repeat;
	width: 266px;
	height: 65px;
	margin-left: -20px;
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
/* identical to box height */

display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;
}

.f {
	display: flex;
	align-items: center;
	background: #4E4E4E;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	padding: 10px 8px 13px 24px;
	color: #FFFFFF;
}

.f img {
	width: 35px !important;
	height: 35px !important;
	min-width: 35px !important;
}

.f span {
	margin-left: 23px;
}

.fixed-ul {
	padding: 0;
}

.form-new {
	background: #fff;
	width: 100%;
	margin: 10px auto;
	max-width: 480px;
}

.red-wrap {
	border: dashed 2px #c20c2e;
	width: 95%;
	margin: 0 auto;
	border-radius: 30px;
}

.h2-new {
	margin: 20px 0 20px;
	line-height: 40px;
	font-weight: 400;
   margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color: #c20c2e;
	text-align: center;
	margin-top: 10px;
}

.red-wrap p {
	margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

.red-wrap p b {
	font-weight: 600;
}

.form-new1 {
	border: 3px dashed #3a926c;
	width: 85%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.h3-new {
	font-weight: 500;
	line-height: 1.2;
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.main-form {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.main-form label {
	margin-top: 20px;
}

.main-form input {
	background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 80%;
	height: 40px;
}

.main-form input::placeholder {
	font-size: 15px;
}

.offerta {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.offerta img {
	width: 50px;
}

.offerta-text p:last-child{
	font-size: 26px;
	font-weight: 600;
}

.text-center {
	margin-top: 20px;
}

#info-privacy {
	width: 80%;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}

.main-form button {
   list-style: none;
   background-color: #ffc205;
   height: 50px;
   width: 80%;
   border: none;
   font-size: 20px;
   font-weight: bold;
   margin-top: 30px;
   margin-bottom: 30px;
}

.white {
	margin: 0 auto;
}

.fixed-li {
	display: flex !important;
	align-items: center;
}

.fixed {
	top: 54px;
}

.pos-relative {
	position: relative;
}

#toForm {
	position: absolute;
	top: 330px;
}

@media only screen and (max-width: 768px) {
	.fixed {
		top: 73px;
	}


}

